.content-container {
    display: flex;
    width: 100%;
    max-width: 100rem;
    justify-content: center;
    align-items: center;
  }
  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Abstand zwischen den Elementen */
    margin-top: 2rem; /* Oberer Abstand */
  }
  .message-box {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 5px;
  }
  